<div class="container letra">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 235px;">
            <br>
            <h5 class="text-center">Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1 class="text-center">Servicios Técnicos de Mercy Developer</h1>
            <div class="pt-5 row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Sistemas Operativos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Software de Oficina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">reparación de computadoras</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="windows">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/Windows_10_Logo.png" class="img-fluid" alt="Windows Logo" style="width: 150px; height: auto;">
                        </div>
                        <div class="ms-3 flex-grow-1">
                            <h5 class="card-title">Windows 10</h5>
                            <p class="card-text">
                                Descubre nuestro servicio especializado en la instalación y configuración de Windows 10. 
                                Optimiza tu equipo con la última tecnología.
                            </p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Detalle
                            </button>
                        </div>
                    </div>
                </div>
            

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Windows 10</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>¿Qué incluye nuestro servicio?</h5>
                                <ol>
                                    <li>Instalación de Windows 10: Realizamos una configuración completa desde cero o una actualización desde una versión anterior de Windows.</li>
                                    <li>Optimización del sistema: Ajustamos los parámetros del sistema para asegurar un rendimiento óptimo en tu dispositivo.</li>
                                    <li>Activación oficial: Verificamos que tu copia de Windows esté correctamente activada y licenciada de manera legal.</li>
                                    <li>Instalación de controladores: Comprobamos y actualizamos todos los controladores para asegurar el funcionamiento adecuado de tu hardware.</li>
                                    <li>Configuración personalizada: Personalizamos la configuración del sistema según tus preferencias y necesidades.</li>
                                    <li>Asesoría técnica: Te explicamos las nuevas funcionalidades y herramientas de Windows 10.</li>
                                </ol>

                                <h5>¿Por qué elegirnos?</h5>
                                <ol>
                                    <li>Experiencia garantizada: Profesionales altamente capacitados en instalación y configuración de sistemas.</li>
                                    <li>Compromiso con la calidad: Nos aseguramos de que tu equipo quede en perfecto estado tras el servicio.</li>
                                    <li>Atención individualizada: Ofrecemos un servicio a medida, adaptado a tus requerimientos particulares.</li>
                                    <li>Soporte posterior a la instalación: Te brindamos ayuda adicional después de la instalación para resolver cualquier duda o inconveniente.</li>
                                </ol>

                                <h5>El costo del servicio</h5>
                                <p> $15.000 + IVA </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
